.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-root {
  width: 40%;
  margin: auto;
}

.carousel .slide .legend {
  position: absolute !important;
  bottom: -13px !important;
  transition: opacity .35s ease-in-out;
  background: white !important;
  padding: 2px !important;
  font-size: 13px !important;
  font-weight: bold !important;
  color: #808080 !important;
  text-transform: uppercase !important;
  text-align: center !important;
  border-radius: 0px !important;
  opacity: 1 !important;
  max-width: 45% !important;
  bottom: -12px !important;
  left: 45% !important;
}

#content {
  padding: 0px 15%;
}



.divTitle {
  background: url(./asserts/images/tay-day.jpg) no-repeat center center;
  padding: 1px 0px;
  margin-bottom: 15px;
  background-size: cover;
}

.divTitle h1 {
  text-align: center;
  color: #808080;
  font-size: 47px;

}


@media (max-width: 768px) {
  .carousel-root {
    width: 90%;
  }

  .divTitle h1 {
    font-size: 30px;
  }

  .description {
    text-align: justify !important;
  }
}